<!DOCTYPE html>
<html lang="en">


   {% extends 'blog/base.html' %}

   {% load static %}

    <head>
      <title> Homepage </title>
    </head>

    <body>
      {% block title %} Homepage {% endblock %}

      {% block content %}
        <div class="post">
          <h2> Test Website. Click <a href="{% url 'post_titles' %}">here</a> to go to the blog page. </h2>
          <p> You MUST create an account in order to access and create blogs. </p>
        </div>

        <div class="photo">
          <img id="mountain" src="{% static 'blog/mountains.jpg' %}" alt="mountains">
        </div>

        <div class="post" style="width:300px;">
          <h2> New To The Website? </h2>
          <p> You can click <a href="{% url 'create_account' %}">here</a> to make an account. </p>
        </div>

        <div class="post" style="width:300px;">
          <h2> Not Currently Signed In? </h2>
          <p> You can click <a href="{% url 'login' %}"> here </a> to access the login page. </p>
        </div>

        <div class="post" style="width:300px;">
          <h2> Check out your profile! </h2>
          <p> Click <a href="{% url 'profile' user.get_username %}"> here </a> to see the posts you've written. </p>
        </div>

      {% endblock %}
    </body>

</html>
